

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #496dad;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --green: #64ffda;
    --transparent-green: rgba(100, 255, 219, 0.139);

    --basic-info-margin: 10%;
    --basic-info-h1-font-size: 2rem;
    --photo-size: 35%;
    --socials-block-left: 45%;
    --nav-space-between: 180px;
    --title-num-font: 1.2rem;

    --section-padding: 1rem;
    --section-about-padding: 1rem;
}

body {
    background: var(--navy);
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    padding: 1em;
    max-width: 100vw !important;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: var(--green);
        font-size: 1.3em;
        margin-left: 1rem;
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu, .mobile-menu-exit {
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu-btn {
    display: block;
    background-color: var(--lightest-navy);

    img.mobile-menu {
        display: none;
    }

    a {
        color: var(--green);
        margin-left: 1rem;
    }

    li.resume-button a {
        border: 3px solid var(--green);
        border-radius: 5em;
        max-width: fit-content;
    }
}

nav {
    position: fixed;
    z-index: 999;
    width: 60%;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 1em;

    li {
        a {
            color: var(--slate);
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.2em;
            text-align: left;

            .nav-num {
                color: var(--green);
            }

            &:hover {
                color: var(--green);
            }
        }
    }

    ul {
        margin-top: 1.2rem;
    }
}

.mobile-menu-exit {
    float: right;
    display: block;
    margin: .5em;
    cursor: pointer;
}

section.home .container {
    max-width: 100vw;
    
    .basic-info {
        margin-top: var(--basic-info-margin);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p, h1 {
            margin: 0;
            text-align: center;
        }

        h1 {
            color: var(--slate);
            font-size: var(--basic-info-h1-font-size);
            font-weight: bold;
        }

        p {
            color: var(--light-slate);
        }

        .green-intro {
            color: var(--green);
        }

        .animated-intro {
            transform: scale(0.94);
            animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);

            span {
                display: inline-block;
                opacity: 0;
                filter: blur(4px);
            }

            span:nth-child(1) {
                animation: fade-in 0.10s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(2) {
                animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(3) {
                animation: fade-in 0.6s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(4) {
                animation: fade-in 0.6s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(5) {
                animation: fade-in 0.7s 0.10s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(6) {
                animation: fade-in 0.6s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(7) {
                animation: fade-in 0.9s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(8) {
                animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(9) {
                animation: fade-in 0.10s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(10) {
                animation: fade-in 0.6s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(11) {
                animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }

            span:nth-child(12) {
                animation: fade-in 0.9s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
            }
                                                                                                
        }

    }
}

.photo-block {
    position: relative;
    display: flex;

    img {
        margin: 1rem 0.5rem 0 1.5rem;
        max-width: var(--photo-size);
    }

    .socials-block {
        position: absolute;
        bottom: 0;
        left: var(--socials-block-left);
    }
}

.title-num {
    color: var(--green);
    font-size: var(--title-num-font);
}

section {
    h2 {
            margin-top: 0;
        }
    
    p {
        padding: 0.2rem;
    }

    ul {
        list-style-type: circle;
        color: var(--green);

        span {
            color: var(--light-navy);
        }
    }
}

section.about .container {
    background-color: var(--light-slate);
    color: var(--light-navy);  
    padding: var(--section-about-padding);
}

section.projects .container {
    color: var(--slate);
    padding: var(--section-padding);

    .project-block {
        padding: 1rem;
        color: var(--light-navy) !important;
        background-color: var(--light-slate);
        border-radius: 1rem;
        margin: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;

        .content {
            height: 60%;
        }

        .skills {
            height: 30%;
        }
    }

    svg {
        margin-top: 1rem;
        position: absolute;
        bottom: 5%;
        width: 2rem;
    }

    .links {
        margin-top: 2rem;
    }

    #youtube {
        bottom: 2% !important;
        margin-left: 2.5rem !important;
    }

    p {
        margin-bottom: 0rem;
        margin-top: 0.2rem;
    }

    ul {
        margin-left: 2rem;
    }

    h3 {
        text-align: center;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}

section.contact .container {
    padding: var(--section-padding);
    color: var(--slate);

    .content {
        text-align: center;
    }

    .copyright {
        margin-top: 4rem;
        font-size: 0.7rem;
    }

    a {
        color: var(--green);
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {

    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: var(--nav-space-between) auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex !important;
            margin-top: 0.3rem;
        }

        a {
            font-size: 1.1rem;
            padding: .1em 1em;
            display: inline;
        }

        li.resume-button a {
            color: var(--green);
            border: 3px solid var(--green);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {
                background: var(--transparent-green);
                color: white;
            }
        }
    }
}

//galaxy fold
@media only screen and (max-width: 280px) {

    .socials-block {
        
        img {
            width: 20%;
        }
    }
}

@media only screen and (min-width: 820px) {
    
    :root {
        --section-padding: 3rem;
        --section-about-padding: 4rem;
        --basic-info-margin: 3rem;
        --basic-info-h1-font-size: 3rem;
    }
    
    section.home .container {
        height: 82vh;

        p {
            font-size: 1.2rem !important;
        }
    }

    .home-page {
        position: relative;
    }

    .photo-block {
        position: absolute;
        bottom: 0;
    }

}

@media only screen and (min-width:1000px) and  (min-height: 800px) {

    :root {
        --basic-info-h1-font-size: 3.5rem;
        --photo-size: 40%;
        --socials-block-left: 50%;
        --title-num-font: 1.5rem;
    }

    .home-page {
        p > span {
            font-size: 2rem;
        }
    }

    p, li {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 2rem;
    }
    
}

@media only screen and (min-width:1000px) and (min-height: 950px) {

    :root {
        --basic-info-h1-font-size: 4.5rem;
    }

    .home-page {
        p > span{
            font-size: 2rem;
        }
    }

    p,
    li {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    .project-block {
        padding: 2rem !important;
    }

}

@media only screen and (min-height: 1180px) {

    section.home .container {
        height: 30vh;
    }
}

@media only screen and (min-width: 1200px) {

    :root {
        --nav-space-between: 600px;
    }

    .home-page {
        background-color: var(--deep-navy);
        height: 100vh;
    }

    .navbar .container {
        grid-template-columns: var(--nav-space-between) auto;
    }

    section.projects .container {
        color: var(--slate);

        .projects-carosel {
            display: flex;

            .project-block {
                flex: 1;
                width: 30%;
            }
        }
    }

}

@media only screen and (min-width:1600px) {
    
    :root {
        --nav-space-between: 1000px;
        --section-padding: 6rem;
        --section-about-padding: 7rem;
    }

}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}
